<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device--width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/profView.css" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="nav">
      <a href="/posts">
        <div class="inner-nav-b">
          <img src="/utilities/SocioLogo.png" alt="Logo" class="logo" />
          <h3>Socio</h3>
        </div>
      </a>
      <div class="inner-nav-a">
        <form action="/posts/new"><button>Create New Post</button></form>
        <form action="/logout">
          <button>Logout</button>
        </form>
      </div>
    </div>
    <% if(success && success.length){ %>
      <div class="success">
        <h3><%=success%></h3>
      <% } %>
      <% if(error && error.length){ %>
        <div class="error">
          <h3><%=error%></h3>
        <% } %>
    <div class="container">
      <h1>Profile</h1>
      <img src="/utilities/SocioLogo.png" alt="Logo" class="logo" />
      <div class="box">
        <form action="/profile/edit" method="post" enctype="multipart/form-data">
        <h4>Username</h4>
        <div class="username">
          <h5>@<%= currUser.username %></h5>
        </div>
        <h4>E-mail</h4>
        <div class="mail">
          <h5><%=currUser.email%></h5>
        </div>
        <h4>Bio</h4>
        <textarea
          class="bio"
          placeholder="Add your bio here..."
          name="bio"
        ><%= currUser.bio %></textarea><br><br>
        <h4>Upload Profile Picture</h4>
        <input type="file" name="profilePhoto">
        <br /><br />
        <button class="btn" type="submit">Save Changes</button>
      </form>
      </div>
    </div>
  </body>
</html>
