<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socio</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="nav">
      <div class="inner-nav-b">
        <img src="/utilities/SocioLogo.png" alt="Logo" class="logo" />
        <h3>Socio</h3>
      </div>
      <div class="inner-nav-a">
        <form action="/editprofile">
          <button><img
            src="<%= currUser.profilePhoto.url %>"
            alt="Profile Picture"
            class="profile-pic"
        /></button>
        </form>
        <form action="/new"><button>Create New Post</button></form>
        <form action="http://localhost:3000/logout">
          <button>Logout</button>
        </form>
      </div>
    </div>
    <% if(success && success.length){ %>
      <div class="success">
        <h3><%=success%></h3>
      <% } %>
      <% if(error && error.length){ %>
        <div class="error">
          <h3><%=error%></h3>
        <% } %>
    <div class="container">
      <h1>All Posts</h1>
      <% for(let post of allPosts) {%>
      <div class="post">
        <div class="post-header">
          <div class="profile">
            <img src="<%= post.owner.profilePhoto.url %>" alt="Profile Picture" />
            <h3><%= post.owner.username %></h3>
          </div>
          <div class="dropdown">
            <button class="dropdown-btn" onclick="toggleMenu('menu-<%= post._id %>')">
              &#8942;
            </button>
            <div id="menu-<%= post._id %>" class="dropdown-content">
              <form action="/editPost/<%= post._id %>" method="get"><button>Edit post</button></form>
              <form action="/deletepost/<%= post._id %>?_method=DELETE" method="post">
                <button>Delete Post</button>
              </form>
            </div>
          </div>          
        </div>
        <div class="post-content">
          <p><%= post.content %></p>
          <img src="<%=post.image.url%>" alt="Post Image" />
        </div>
        <div class="post-actions">
          <button>
            <img src="/utilities/thumbs-up-icon.png" alt="Like" />Like
          </button>
          <button>
            <img src="/utilities/share-icon.png" alt="Share" /> Share
          </button>
        </div>
        <div
          class="comment-form"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          "
        >
          <form action="">
            <input
              type="text"
              style="width: 90%; height: 25px"
              placeholder="add a comment..."
            />
            <button>
              <img
                src="/utilities/comment-icon.png"
                alt="Comment"
                style="height: 25px"
              />
            </button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <div class="footer">&copy; Socio</div>
    <script>
      function toggleMenu(id) {
  document.getElementById(id).classList.toggle("show");
}

window.onclick = function (event) {
  if (!event.target.matches(".dropdown-btn")) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      if (dropdowns[i].classList.contains("show")) {
        dropdowns[i].classList.remove("show");
      }
    }
  }
};

      //dropdown doesnt work for all posts.(Id to all post is same)
    </script>
  </body>
</html>
